<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <!-- Info -->
      <section class="col-4 col-12-mobile">
        <header>
          <h2>INFO</h2>
        </header>
        <ul class="divided">
          <li>
            <article class="post stub">
              <header>
                <h3><a href="#banner" class="scrolly">Om ACME AB</a></h3>
              </header>
            </article>
          </li>
          <li>
            <article class="post stub">
              <header>
                <h3><a href="#contactus" class="scrolly">Kariär</a></h3>
              </header>
            </article>
          </li>
        </ul>
      </section>

      <!-- Kontakt -->
      <section class="col-4 col-12-mobile">
        <header>
          <h2>KONTAKT</h2>
        </header>
        <ul class="divided">
          <li>
            <article class="post stub">
              <header>
                <h3><a href="#map" class="scrolly">Kontor</a></h3>
              </header>
            </article>
          </li>
          <li>
            <article class="post stub">
              <header>
                <h3><a href="#contactus" class="scrolly">Kundrelationer</a></h3>
              </header>
            </article>
          </li>
        </ul>
      </section>

      <!-- Info -->
      <section class="col-4 col-12-mobile">
        <header>
          <h3>ANPASSA SIDAN</h3>
        </header>
				<form class="" action="index.html" method="post">
				<ul class="divided">
          <li>
            <article class="post stub">
              <header>
                Välj en bakgrundsfärg
              </header>
							<div class="colorBlock" id="color1"></div>
						  <div class="colorBlock" id="color2"></div>
						  <div class="colorBlock" id="color3"></div>
						  <div class="colorBlock" id="color4"></div>
							<div class="colorBlock" id="color5"></div>
            </article>
          </li>
          <li>
            <article class="post stub">

						<input type="text" name="namn" value="  Ditt namn..">
						<button class="button anpassa" type="button" name="button">Gå</button>
            </article>
          </li>
        </ul>
				</form>
      </section>

    </div>
    <hr />
    <div class="row">
      <div class="col-12">

        <!-- Footer short desciption -->
        <section class="footer_text">
          <header>
            <h3>ACME AB </h3>
          </header>
          <p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
          <ul class="icons">
            <li><a href="#header" class="scrolly"><i class="fas fa-chevron-circle-up" ></i></a></li>
          </ul>
        </section>

        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>&copy;<%= new Date().getFullYear();%> ACME AB. Alla rättigheter reserverade.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Scripts -->
<script src="/public/assets/js/jquery.min.js"></script>
<script src="/public/assets/js/jquery.dropotron.min.js"></script>
<script src="/public/assets/js/jquery.scrolly.min.js"></script>
<script src="/public/assets/js/jquery.scrollex.min.js"></script>
<script src="/public/assets/js/browser.min.js"></script>
<script src="/public/assets/js/breakpoints.min.js"></script>
<script src="/public/assets/js/util.js"></script>
<script src="/public/assets/js/main.js"></script>
<script src="/public/assets/js/xlsx.core.min.js"></script>
<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDFPUlCl8K_REtOsXKejVhRp9Docpw5ic&callback=initMap">
	</script>

</body>

</html>
