
			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<!-- Info -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2>INFO</h2>
									</header>
									<ul class="divided">
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#banner">Om ACME AB</a></h3>
												</header>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#contactus">Kari채r</a></h3>
												</header>
											</article>
										</li>
									</ul>
								</section>

							<!-- Kontakt -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2>KONTAKT</h2>
									</header>
									<ul class="divided">
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#map">Kontor</a></h3>
												</header>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#contactus">Kundrelationer</a></h3>
												</header>
											</article>
										</li>
									</ul>
								</section>

															<!-- Info -->
																<section class="col-4 col-12-mobile">
																	<header>
																		<h2>ANPASSA SIDAN</h2>
																	</header>
																	<ul class="divided">
																		<li>
																			<article class="post stub">
																				<header>
																					<h3>V채lj en bakgrundsf채rg</h3>
																				</header>
																			</article>
																		</li>
																		<li>
																			<article class="post stub">
																				<header>
																					<h3>Ditt namn</h3>
																				</header>
																			</article>
																		</li>
																	</ul>
																</section>

						</div>
						<hr />
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>ACME AB </h3>
										</header>
										<p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
										<ul class="icons">
											<li><a href="#" class="icon brands"><span class="Go upp"><i class="fas fa-chevron-circle-up"></i></span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy;<%= new Date().getFullYear();%> ACME AB. Alla r채ttigheter reserverade.</li>
										</ul>
									</div>
							</div>
						</div>
					</div>
				</div>
		<!-- Scripts -->
			<script src="/public/assets/js/jquery.min.js"></script>
			<script src="/public/assets/js/jquery.dropotron.min.js"></script>
			<script src="/public/assets/js/jquery.scrolly.min.js"></script>
			<script src="/public/assets/js/jquery.scrollex.min.js"></script>
			<script src="/public/assets/js/browser.min.js"></script>
			<script src="/public/assets/js/breakpoints.min.js"></script>
			<script src="/public/assets/js/util.js"></script>
			<script src="/public/assets/js/main.js"></script>

	</body>
</html>
