<!-- Nav -->
    <nav id="nav">
      <ul>
        <li><a href="#header">Hem</a></li>
        <li><a href="#banner">Om oss</a></li>
        <li><a href="#references">Referenser</a></li>
        <li><a href="#contactus">Kontakta oss</a></li>
      </ul>
    </nav>

</div>
