<!-- Navigation menu -->
<nav id="nav">
  <ul>
    <li><a href="#header" class="scrolly">Hem</a></li>
    <li><a href="#banner" class="scrolly">Om oss</a></li>
    <li><a href="#references" class="scrolly">Referenser</a></li>
    <li><a href="#contactus" class="scrolly">Kontakta oss</a></li>
  </ul>
</nav>

</div>
